.tabs {
	width: 100%;
	display: inline-block;
	font-weight: 400;
	overflow: hidden;
}

.tab-list {
	padding: 0;
	margin: 0;
	list-style: none;
	border-bottom: 1px solid rgba(156, 163, 175, 0.3);
}

.tab-item {
	display: inline-block;
	margin-right: 16px;
	padding: 6px 12px;
	cursor: pointer;

	color: rgb(107, 114, 128);
	font-size: 14px;
	line-height: 20px;
	position: relative;
}

.tab-item.active {
	background-color: #fff;
}
.tab-item.active::before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 75%;
	height: 2px;
	background-color: #656ce1;
}

.tab-content {
	padding: 17px;
	width: 100%;
	height: 100%;
}

.tab-pane {
	display: none;
	width: 100%;
	height: 85%;
}

.tab-pane.active {
	display: block;
}

.body-tabs {
	margin-bottom: 15px;
}
.body-tabs__title {
	color: rgb(107, 114, 128);
	font-size: 16px;
	line-height: 24px;
}
.body-tabs__sum {
	color: rgb(37, 44, 50);
	font-size: 24px;
	line-height: 32px;
}

.chart {
	width: 100%;
	height: 100%;
}
