.transaction__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 12px;
	grid-row-gap: 2px;

	font-size: 14px;
	font-weight: 400;
}
.transaction__title {
	grid-area: 1 / 1 / 2 / 2;
}
.transaction__data {
	grid-area: 2 / 1 / 3 / 2;
	font-size: 12px;
}
.transaction__sum {
	font-weight: 700;
	font-size: 18px;
	align-self: start;
	justify-self: right;
	grid-area: 1 / 2 / 3 / 3;
}

.transaction__sum.transaction__sum--income {
	color: rgb(93, 181, 122);
}
.transaction__sum.transaction__sum--expense {
	color: rgb(221, 82, 90);
}
